<form action="#" phx-submit="add">
  <%= text_input :task, :title, placeholder: "What do you want to get done?" %>
  <%= submit "Add", phx_disable_with: "Adding..." %>
</form>

<table class="container">
  <tr>
    <td> Task </td>
    <td> Id </td>
  </tr>
  <%= for task <- @tasks do %>
    <tr>
    <div>
      <td><%= task.title %></td>
      <td><%= task.id %> </td>
      <td><button phx-click="delete" phx-value-id=<%= task.id %>>delete</button></td>
    </div>
    <% end %>
  <tr>
</table>
